<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;1,400&family=Titillium+Web:wght@200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="icon" href="/airplane.svg">
    <title>Where to Next?</title>
</head>
<body>
    
        <div class="container">
            <h1>
                <span class="material-symbols-outlined">flight_takeoff</span>
                Let's pick a random destination! 
                <span class="material-symbols-outlined">flight_land</span>
            </h1>
      
          <form action="/" id="form" class="form" method="POST">
            <select name="region" class="form-select">
              <option value="" data-display="Select">Country Region</option>
              <% for(var i = 0; i < region.length; i++) {%>

                    <option value= "<%=region[i]%>"> <%=region[i]%> </option>
                <% };%>

              <!--<option value="music">Music</option> -->
            </select>
            <select name="subregion" class="form-select">
              <option value="">Country Sub Region</option>

              <% for(var i = 0; i < subregion.length; i++) {%>
                
                    <option value= "<%=subregion[i]%>"> <%=subregion[i]%> </option>
                <% };%>
              
            </select>
            <button type="submit" class="form-submit">Let's Go!</button>
          </form>
          <section id="cards" class="cards">
            <article class="card-item">
              <h2 class="card-countries">
                <!-- List of Countries -->
                <% if (locals.country) { %>
                    <%= country %>
              </h2>
              <div class="card-info">
                <span class="card-lang">
                  <!-- Languages spoken in the random country -->
                  <h4 id="lang-title">Languages</h4>
                  <ul>
                    
                    <% Object.entries(languages).forEach(([key, value]) => { %>
                       <li><%=`${key}: ${value}` %></li> <!--console.log(`${key}: ${value}`); -->
                     <% }); %>
                  
                </ul>
                </span>
                <span class="card-subregion">
                  <!-- should any other details be put in -->
                  <p> Subregion: <%= randomSubregion %> </p>
                </span>
                <span class="card-extras">
                    <!-- Capital of the random country -->
                    <p> Capital: <%=misc%></p>
                  </span>
              </div>
            </article>
            <%} else { %>
                <div id="tag-error" class="tag-error">
                  <!-- Show any errors that were sent from the backend -->
                  <h2>Let's pick a spot!<%#=error%></h2>
                </div>
                <% } %>
          </section>
        </div>
      

</body>
</html>

<!-- 
  <#% for(var i = 0; i < languages.length; i++) {%>
    <li>  <#%=languages[i]%> </li>
    <#% }; %>
-->